# Pythonキャッシュやコンパイル済みファイル
__pycache__/
*.py[cod]
*$py.class

# データベースファイル
*.sqlite3

# 環境設定ファイル
.env

# DockerやVSCodeの設定ファイル
.dockerignore
Dockerfile
docker-compose*.yml
.vscode/

# Git管理対象外にする
.git
.gitignore

# メディアや静的ファイル（開発中のみ不要な場合）
media/
staticfiles/
